---
interface Props {
    text: string;
    img: string;
    alt: string;
    name: string;
    curso: string;
}

const { img, text, alt, name,curso } = Astro.props;
---

        <div class="slide">
            <div class="testimonial-content">
                <div>   
                    <p class="text-tc poppins-regular">{text}</p>
                </div>
                <div class="profile">
                    <div>
                        <img class="perfil-img" src={img} alt={alt} loading="lazy" />
                    </div>
                    <div class="info-client">
                        <p class="name-client light">{name}</p>
                        <p class="student poppins-extralight">{curso}</p>
                    </div>
                </div>
            </div>
    
        <!-- Agrega más divs de testimonios según sea necesario -->
    </div>



<style>

    .text-tc{
        font-size: 20px;
        width: 100%;
    }

    .info-client{
        margin-top: 30px;
    }

    .name-client{
        margin: 0;
        font-size: 18px;
    }

    .student{
        margin: 0;
        font-size: 11px;
    }

    .testimonial-content{
        padding: 30px;
    }

    .profile{
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .perfil-img{
        width: 42px;
        border-radius: 30px;
        margin-right: 6px;
        margin-bottom: -30px;
    }






    .slide {
        padding: 8px;
        width: 45%;
        margin: 0 auto; 
        box-sizing: border-box;
    }

    .testimonial-content {
        border-radius: 9px;
        background: linear-gradient(180deg, rgba(222, 252, 28, 0.33) 0%, rgba(228, 214, 25, 0.083) 100%);
        width: 72%;
        border: 1px solid gray;
    }

    @media  (max-width:750px) and (min-width: 0px){

        .perfil-img{
        width: 60px;
        }

        .student{
            font-size: 23px;
        }

        .name-client{
            font-size: 26px;
        }

        .text-tc{
            font-size: 28px;
            width: 94%;
        }
    }
</style>
